<app-navbar (navigateToSection)="scrollToSection($event)"></app-navbar>

<div id="sections">
  <!-- Home Section -->
  <div #homeSection class="section home-section">
    <app-first-page></app-first-page>
  </div>
  <!-- Aboutme Section -->
  <div #aboutmeSection class="section about-section">
    <app-about-me></app-about-me>
  </div> 
  <!-- Skill Section -->
  <div #skillSection class="section skill-section">
    <app-skills-section></app-skills-section>
  </div>
  <!-- Projects Section -->
  <div #projectsSection class="section projects-section">
    <app-projects-section></app-projects-section>
  </div>
</div>
