<div class="first-page">
    <div class="content-container fade-in-border">
      <!-- Text and Button Section -->
      <div class="details-container">
        <h1>Rohith Raj</h1>
        <p>
          Full Stack Developer | Angular, C#, SQL, .NET Core | ERP Systems, Database Optimization, API Integration
        </p>
        <div class="buttons-container">
          <a href="assets/resume.pdf" download class="action-btn download-btn">Download CV</a>
          <a href="https://github.com/rohithrjnr" target="_blank" class="icon-btn">
            <img src="assets/github-logo.png" alt="GitHub" class="icon" />
          </a>
          <a href="https://linkedin.com/in/rohith-raj-nambiar" target="_blank" class="icon-btn">
            <img src="assets/linkedin-logo.png" alt="LinkedIn" class="icon" />
          </a>
        </div>
      </div>
  
      <!-- Image Section -->
      <div class="image-container">
        <img src="assets/picture.png" alt="Portfolio Image" class="fade-in" />
      </div>
    </div>
  </div>
  